body {
	background-color: #393939;
}
header {
	background-color: #212121;
}

h1 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: white;
	transition: 1s;
}
h1:hover{
	transform: scale(1.05);
}

ul{
	list-style: none;
	margin: 0;
	padding: 20px;
}
a{
	font-size: 20px;
	padding: 50px;
	color: white;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	transition: 1s;
}
a:hover{
	color: aliceblue;
	size: 80px;
	transform: scale(1.2);
}

li {
	display: inline;
}